.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  background-color: #d49877;
  border: #d49877;
}

.aria-menu {
  /* width: 40%; */
  /* background-color: #fff; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 28px;
}

.aria-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-items {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
}

.item {
  margin-right: 1rem;
}

.item a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
