nav {
  background-color: #ffbb33;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  position: fixed;
  z-index: 2;
  width: 100%;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 28px;
}

.no-content {
  display: none;
}

.sections-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

.list-item {
  margin-right: 1rem;
}

.list-item a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.hamburger {
  background-color: #ffbb33;
  border: #ffbb33;
}
