footer {
  background-color: #ffbb33;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding: 0.5rem 2rem;
}

.social {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.social-list {
  list-style: none;
}

.item {
  margin-bottom: 0.25rem;
}

.item a {
  text-decoration: none;
  color: #fff;
}
