* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

.gabriela {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.gabriela p {
  width: 85%;
}

.contact {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.contact-infos {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 8px;
}

.contact-infos p {
  padding-top: 9px;
}

.map {
  padding-top: 15px;
}
